/**
COLOR PALETTE

    #003049
    44633F
    30011E
    BFC0C0
    FAF0CA

 */

.button {

}

.sidebar {
    -fx-background-color: #5156a4;
    -fx-effect: dropshadow(two-pass-box, #05050522, 10, 0, 0, 1);
}

.main-content-title {
    -fx-font-size: 18pt;
    -fx-font-weight: bold;

}

.main-content-top-bar {
   /* -fx-background-color: #93580a*/
}

.sidebar-button {
    -fx-background-color: none;
    -fx-text-fill: white;
    -fx-font-size: 17pt;
    -fx-padding: 22 15;
    -fx-font-weight: lighter;
}

.sidebar-button:hover {
    -fx-background-color: #ffffff0f;
}

.logo-container {
    -fx-background-color: #5156a4;
}

.top-bar {
 /*   -fx-background-color: #5c2200;*/
}

.center-main {
    -fx-background-color:  #eaecf5;
}

.main-content {

}

.button-home-quick-task {
    -fx-background-color: #44633F;
    -fx-text-fill: white;
    -fx-font-size: 20pt;
    -fx-font-family: "Arial Narrow";
}

.dashboard-title {
    -fx-font-size: 16pt;
    -fx-border-radius: 2px;
}

.section-title {
    -fx-font-size: 16pt;
}

.live-capture-data-header {
    -fx-font-size: 13pt;
}

.container {
    -fx-padding: 10px;
    -fx-background-insets: 0px;
    -fx-border-radius: 3;
    -fx-background-color: white;
    -fx-background-radius: 10pt;

    -fx-effect: dropshadow(two-pass-box, #05050522, 10, 0, 0, 1);
}

.add-button {
    -fx-background-color: #93580a;
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

.dashboard_stats_title {
    -fx-font-size: 13pt;
    -fx-text-fill: #AFAFAFFF;
}

.dashboard_stats_number {
    -fx-font-size: 18pt;
    -fx-text-fill: black;
}

.root {
    -fx-background-color:  #eaecf5;
}